.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 16px;
  margin: 0 -1rem 1rem;
}

.postWrapper:hover,
.postWrapper:focus-within {
  background: rgba(0, 0, 0, 0.025);
}

a.link {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

span.tag {
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0 8px 0 0;
  background: rgba(0, 0, 0, 0.03);
  white-space: nowrap;
}
